/** example of berak point usage*/

@media (min-width: 1200px) {
  .header-block-brp1000px {
    height: 50px !important;
  }
}

@media (min-width: 1200px) {
  .welcome-text-brp1000px {
    position: relative;
    float: left;
    width: 65%;
    text-align: left !important;
    top: 20% !important;
    left: 2%;
  }
}

@media (min-width: 1200px) {
  .header-avatar-brp1000px {
    height: 170px !important;
    width: 170px !important;
    top: 15% !important;
    right: 2%;
    float: right;
    margin: initial;
  }
}

@media (min-width: 1200px) {
  .main-manu-container-brp1000px {
    top: 10vh  !important;
    height: 80vh !important;
  }
}

@media (min-width: 1200px) {
  .main-manu-item-container-brp1000px {
    width: 30% !important;
  }
}

@media (min-width: 1200px) {
  .clear-fix-brp1000px {
    display: block !important;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* link default style */

a,
a:active,
a:hover,
a:visited {
  color: #fff;
  text-decoration: none;
}

a:active,
a:hover {
  color: #fff;
}

.u_float-left {
  float: left;
}

.u_float-right {
  float: right;
}

.u_margin-auto {
  margin: auto;
}

.u_color-black {
  color: #000;
}

.u_width-100pct {
  width: 100%;
}

.u_width-50pct {
  width: 50%;
}

.clear-fix {
  display: none;
}

.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}

.clear-fix:after {
  clear: both;
}

.portfolio_item-container {
  display: block;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  float: left;
  margin-left: 10%;
  background-color: lightgray;
}

.portfolio_item-image {
  display: block;
  width: 60%;
}

.imgInfoText {
  padding: 10px;
  width: 40%;
  display: block;
}

.backtoBtn,
.homeIndex,
.homeIndexRow2 {
  position: absolute;
  left: 10px;
  z-index: 1000;
  color: white;
  font-size: 1rem;
  opacity: 0.5;
  text-decoration: none;
}

.homeIndex {
  top: 10px;
}

.homeIndexRow2 {
  top: 25px;
}

.homeIndex:hover {
  opacity: 1;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#336B87), to(#90AFC5));
  background: linear-gradient(#336B87, #90AFC5);
}

.header,
.main-page-header,
.main-page-header-portfolio {
  display: block;
  background-color: #2A3132;
}

.main-page-header {
  height: 10vh;
}

.main-page-header-portfolio {
  height: 10vh;
}

.main-page-welcome-word {
  color: #fff;
  text-align: center;
  position: relative;
  top: 15%;
  font-size: 2rem;
}

.welcome-word {
  float: left;
  margin-left: 5vw;
}

.main-page-avatar {
  display: block;
  float: right;
  margin-right: 5px;
  top: 10px;
  margin: auto;
  width: 23vh;
  height: 25vh;
  background-color: gray;
}

.maincontent,
.main_content-container,
.main_content-container-list-images {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  display: block;
  width: 100%;
}

.main_content-container {
  top: 11vh;
  height: 79vh;
}

.main_content-container-list-images {
  top: 10vh;
  height: 80vh;
}

.main-page-futer {
  display: block;
  position: absolute;
  bottom: 0px;
  height: 10vh;
  width: 100%;
  background-color: #2A3132;
}

.futer-text-style {
  position: relative;
  top: 30%;
  left: 35%;
  float: left;
  width: 15%;
  color: #fff;
  font-size: 1.5rem;
}

.link-active {
  text-decoration: overline;
}

.chunk {
  margin-top: 20px;
}

.main-manu-item-container {
  position: relative;
  width: 50%;
  height: 30%;
}

.main-mani-images {
  display: block;
  position: relative;
  top: 10%;
  margin: auto;
  width: 350px;
  height: 225px;
  background-color: gray;
}

.main-mani-images:hover ~ .main-manu-item-label {
  opacity: 0.7;
  display: block;
}

.main-manu-item-label {
  display: none;
  pointer-events: none;
  width: 350px;
  left: 50%;
  margin-left: -175px;
  height: 50%;
  background-color: #fff;
  text-align: center;
  padding-top: 10%;
  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
}

.portfolio_item-container {
  display: block;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.mail-box {
  margin-top: 10vh;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 15px;
}

