.u_about_margin_left {
  margin-left: 7%;
}

.u_margin-top15pcx {
  margin-top: 15px;
}

.u_overflow-hedden {
  overflow-y: hidden;
}

.u_brand-container-width {
  width: 88%;
}

.u_width16perc {
  width: 16% !important;
}
ul {
  list-style-type: circle;
}
li {
  margin-left: 25px;
}

.about_avatar {
  position: absolute;
  top: 10px;
  right: 80px;
  width: 10vw;
  height: 10vw;
  background-image: url("/mojsajt/public/images/about/avatar500px.jpg");
  background-size: 100%;
  border-radius: 50%;
}

.about_me_text {
  width: 76%;
  margin-top: 10px;
}

.u_margin-bottom10px {
  margin-bottom: 10px;
}

.onetehnology {
  width: 50%;
  float: left;
  height: 230px;
  padding: 5px;
  border-right: 1px solid red;
  &:last-of-type {
    border-right: none;
  }
}

.onetehnology-brp1000px {
  @include breakpoint($high-tide) {
    width: 25% !important;
  }  
}

.web_tehnologies-logos {
  width: 100%;
  float: left;
  height: 300px;
  padding: 5px;
}

.brand-logo {
  width:30%;
  float: left;
  margin-right: 10px;
}

.brand-logo-web {
  width:8%;
  float: left;
  margin-right: 10px;
}

.about_edit_category_container {
  display: block;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  float: left;
  margin-left: 10%;
  overflow: hidden;
  border: 2px solid gray;
  border-radius: 0px 30px;
}
