.addContent {
  padding: 5vw;
}

.myadmin_heder {
  padding: 3px;
  height: 30px;
  background-color: lightgray;
}

.myadmin_edit_category_container {
  display: block;
  width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  margin-left: 10%;
  overflow: hidden;
  border: 2px solid gray;
  border-radius: 5px;
}

.myadmin_header-label {
  float: left;
  width: 80%;
}

.myadmin__section {
  padding: 0px;
  height:0px;
  &--is-open {
    height: auto;
    padding: 10px;
  }
}

.myadmin_oneitem_for_edit {
  border: 2px solid lightgray;
  padding: 3px;
  margin-bottom: 5px;
  position: relative;
}

.dislplayNone { display: none; }

.side_information {
  width: 30%;
  position: absolute;
  top: 0;
  right: 10px;
}

.delete-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.delete-icon-svg {
  fill: "#000000";
}