@import '../../../node_modules/breakpoint-sass/stylesheets/breakpoint';
/** example of berak point usage*/
$high-tide: min-width 1200px;
$high-tide-max: 900px;
$high-tide-max500: max-width 700px;

.header-block-brp1000px {
  @include breakpoint($high-tide) {
    height: 50px !important;
  }  
}

.welcome-text-brp1000px {
  @include breakpoint($high-tide) {
    position: relative;
    float: left;
    width: 65%;
    text-align: left !important;
    top: 20% !important;
    left: 2%;
  }  
}

.header-avatar-brp1000px {
  @include breakpoint($high-tide) {
    height: 170px !important;
    width: 170px !important;
    top: 15% !important;
    right: 2%;
    float: right;
    margin: initial;
  } 
}

.main-manu-container-brp1000px {
  @include breakpoint($high-tide) {
   height: 90vh !important;
  }
}

.main-manu-item-container-brp1000px {
  @include breakpoint($high-tide) {
    width: 33% !important;
  }
}
.main-manu-item-container-brp500px {
  @include breakpoint($high-tide-max500) {
    width: 100% !important;
  }
}

.clear-fix-brp1000px {
  @include breakpoint($high-tide) {
    display: block !important;
  }
}