$header-footer-color: #2A3132;
$header-footer-text-color: #fff;

$main-many-label-background-color: #fff;
$porfolio-info-text-box-back-color: #D3D3D3;

$background-col1: #336B87;
$background-col2: #90AFC5;
