.portfolio_item-container {
  display: block;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  float: left;
  margin-left: 10%;
  height: 520px;
  overflow: hidden;
  border: 2px solid gray;
  border-radius: 0px 30px;
}

.portfolio_item-image {
  display: block;
  width: 60%;
  height: 100%;
}

.imgInfoText {
  padding: 10px;
  width:40%;
  display: block;
  height: 100%;
}
