.backtoBtn {
  position: absolute;
	left: 10px;
	z-index: 1000;
	color: white;
	font-size: 1rem;
	opacity: 0.5;
	text-decoration: none;
}

.homeIndex {
	@extend .backtoBtn;
  top: 10px;
}
.homeIndexRow2 {
	@extend .backtoBtn;
  top: 25px;
}

.homeIndex:hover {
	opacity: 1;
}
