.u_float-left { float: left }
.u_float-right { float: right }
.u_margin-auto { margin: auto }
.u_color-black { color: #000 }
.u_width-100pct { width: 100% }
.u_width-50pct { width: 50% }
.u_height_100perc { height: 100% }
.u_margin_all_20 { margin: 20px }
.u_main-line-text {
    font-weight: 600;
    font-size: 1.5rem;
}
.u_font-color_white {
    color: $main-many-label-background-color;
}

.u_fill-red {
    fill: rgb(150, 44, 2);
}
.padding-all {
    padding: 10px;
}
.absolute_null {
    position: absolute;
    bottom: 0;
    right: 0;
}
.clear-fix {
  &:after,
  &:before {
      content: " ";
      display: table;
      height: 0;
      overflow: hidden;
  }
  &:after { clear: both; }
}
  