$container-height: calc(100vh - 110px);

.maincontent {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  padding: 10px;
}

.devPortfolio_mainContent {
  @extend .maincontent;
  height: $container-height;
}

.devPortfolio_linkImage {
  display: block;
  float: left;
  width: 24%;
  height: 45%;
  border: gray solid 2px;
  margin-bottom: 15px;
  margin-left: 1%;
}