@import 'break-points';
@import 'colors';
@import 'resetCSS';
@import 'utility';
@import 'portfolioItemsStyle';
@import 'slideShow.scss';
@import 'about.scss';
@import 'admin.scss';
@import 'webDevelop';

body {
  background: linear-gradient($background-col1, $background-col2);
}

// header style
.header {
  display: block;
  background-color: $header-footer-color;
}

.main-page-header {
  @extend .header;
  height: 50px;
}
.main-page-header-portfolio {
  @extend .header;
  height: 50px;
}

.main-page-welcome-word {
  color: $header-footer-text-color;
  text-align: center;
  position: relative;
  top: 15%;
  font-size: 2rem;
}

.welcome-word {
  float: left;  
  margin-left: 5vw;
}

.main-page-avatar {
  display: block;
  float: right;
  margin-right: 5px;  
  top: 10px;
  margin: auto;
  width: 23vh;
  height: 25vh;
  background-color: gray;
}

//  main content style
.maincontent {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
}

.main_content-container {
  @extend .maincontent;
  height: calc(100vh - 110px);
}

.main_content-container-list-images {
  @extend .maincontent;
  top: 10vh;
  height: calc(100vh - 110px);
}

// futer styles
.main-page-futer {
  display: block;
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: $header-footer-color;
}

.futer-text-style {
  position: relative;
  top: 30%;
  left: 35%;
  float: left;
  width: 15%;
  color: $header-footer-text-color;
  font-size: 1.5rem;
}

.link-active {
  text-decoration: overline;
}

.chunk {
  margin-top: 10px;
}

.main-manu-item-container {
  position: relative;
  width: 49%;
  height: 43vh;
}

.main-mani-images {
  display: block;
  position: relative;
  top: 10%;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: gray;
}

.main-manu-item-label {
  display: none;
  pointer-events: none;
  width: 70%;
  left: 15%;
  height: 50%;
  background-color: $main-many-label-background-color;
  text-align: center;
  position: absolute;
  bottom: -50%;
  font-size: 1.5rem;
  padding-top: 10px;
  opacity: 0;
  transition: opacity 1s;
}

.main-mani-images:hover ~ .main-manu-item-label {
  opacity: 0.7;
  display: block;
  bottom: 0;
}

.main_meny_label_text {
  font-size: 2rem;
}

.portfolio_item-container {
  display: block;
}

.portfolio_about_header {
  padding: 3px 0 10px 0px;
  border-bottom: double darkgray 6px;
}

.portfolio_about_description {
  padding: 10px 0 0 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.mail-box {
  margin-top: 10vh;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 15px;
}

.table_style {
  width: 50%;
}

.hidenlink {
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
}